 <div class="row content-container">
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    <div class="page-title">
                        <span class="title">{{usr.panelHead}}</span>
                        <div class="description">{{usr.panelDescription}}</div>
               
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
    
                                <div class="card-header">
                                    <div class="card-title">
                                    <div class="title">{{usr.tableHead}}</div>
                                    
                                    </div>
                                </div>


                                <div class="card-body">
                                   <div class="box-content">
                         


                        <table   dt-options="usr.dtOptions" class="table table-striped table-bordered bootstrap-datatable datatable">
                          <thead>
                              <tr>
                                  <th ng-repeat="item in usr.Theads">
                                      {{item.name}}
                                  </th>
                              </tr>
                          </thead>   
                          <tbody ng-repeat="usuario in usr.DataUsers">
                             <tr>
                                <td  class="center"><img src="{{usuario.avatar}}"> </td>
                                <td  class="center">{{usuario.first_name}} </td>
                                <td  class="center">{{usuario.last_name}} </td>
                                <td  class="center">{{usuario.email}} </td>
                                <td  class="center">{{usuario.telephone}} </td>
                                <td class="center"><a class="btn btn-info"  ng-click="usr.ModificarUsuario();">
                                                   <i class="fa fa-pencil"></i></a>
                                                   <a class="btn btn-danger"  ng-click="usr.EliminarUsuario(usuario.uuid);">
                                                   <i class="fa fa-trash-o"></i></a>
                                                   
                                </td>
                             </tr> 
                            
                          </tbody>
                      </table>            
                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>